root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[.prettierrc]
indent_size = 2

[*.{code-workspace,json*,md,toml,yaml}]
indent_size = 2

[*.{md,py}]
charset = utf-8
